a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.devicon {
    font-size: 100px;
    color: #FFF;
}

.bg-dark-purple {
    background-color: #280047;
}

.bg-purple {
    background-color: #4c0087;
}
